<div class="gv-slice first-strip">

		<div class="header-background" >

			<div class="gv-inner gv-inner-header">
				<ul class="gv-header-list">
					<li>
						<div class="gv-header-list-text">
						Tehran
						</div>
					</li>
					<li>
						<div class="gv-header-list-text gv-header-list-text-selected">
						London
						</div>
					</li>
					<li>
						<div class="gv-header-list-text">
						Beijing
						</div>
					</li>
					<li>
						<div class="gv-header-list-text">
						Mexico City
						</div>
					</li>
					<li>
						<div class="gv-header-list-text">
						Delhi
						</div>
					</li>

				</ul>

			</div>

		</div>

</div>


<div class='gv-slice'>
			<div class="gv-inner">
				<div class="gv-inner-content">

					<div class="gv-standfirst-holder">

							<h1>{{headline}}</h1>
							<p>{{{standfirst}}}</p>

							<div class="gv-share-container">
								<button class="share-twitter"></button>
								<button class="share-facebook"></button>
							</div>

							<h5>{{linkedcitiesHeader}}</h5>
								<p class="gv-standfirst-ui-text">{{{linkedcitiesCopy}}}</p>

							<div class="locate">

								<form class="madlib js-postcode">

									<button class="js-gps gv-locate-btn" type="button">
											Find nearest city
											<svg width="30" height="30" viewBox="-3 -3 30 30" xmlns="http://www.w3.org/2000/svg">
													<path d="M0 0h24v24H0z" fill="none"/>
													<path fill="currentColor" d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
											</svg>
									</button>

									<div class="madlib__input">
										<input class="madlib__input__text awesomplete" id='awesomeplete_input' type="text" placeholder="Enter a city"/>
									</div>

								</form>

							</div>
					</div>
				</div>
			</div>

</div>

<div class='gv-slice second-strip'>

	<div class="gv-inner">

		<div class="gv-section-title">

			<h2>{{section1Header}}</h2>
	    <ul class="gv-keys">
				<li class="gv-key-item">
					<div class="gv-key-color color-one"></div>
					<div class="gv-key-text">{{risktype1}}</div>
				</li>
				<li class="gv-key-item">
					<div class="gv-key-color color-two"></div>
					<div class="gv-key-text">{{risktype2}}</div>
				</li>
				<li class="gv-key-item">
					<div class="gv-key-color color-three"></div>
					<div class="gv-key-text">{{risktype3}}</div>
				</li>
				<li class="gv-key-item">
					<div class="gv-key-color color-four"></div>
					<div class="gv-key-text">{{risktype4}}</div>
				</li>
				<li class="gv-key-item">
					<div class="gv-key-color color-five"></div>
					<div class="gv-key-text">{{risktype5}}</div>
				</li>
			</ul>


		</div>



		<div class="gv-inner-content">

					<div class='riskSummaryChart'></div>
			</div>
	</div>
</div>


<div class='gv-slice second-strip'>

	<div class="gv-inner">

		<div class='gv-section-title'><h2>{{section2Header}}</h2></div>

		<div class="gv-inner-content">
			<div class='riskTypesContainer'>
				<div class="riskType">
					<h3>{{risktype1}}</h3>

					<span class="gv-high-num gv-ratings-one">52%</span>

					<div class="gv-ratings-css">
		  				<div class="gv-ratings-css-top gv-ratings-one" style="width: 50%"><span>●</span><span>●</span><span>●</span></div>
		  				<div class="gv-ratings-css-bottom gv-ratings-one"><span>●</span><span>●</span><span>●</span></div>
					</div>
					<p>{{risktype1copy}}</p>
				</div>

				<div class="riskType">
					<h3>{{risktype2}}</h3>

						<span class="gv-high-num gv-ratings-two">95%</span>

						<div class="gv-ratings-css">
							<div class="gv-ratings-css-top gv-ratings-two" style="width: 95%"><span>●</span><span>●</span><span>●</span></div>
			  				<div class="gv-ratings-css-bottom gv-ratings-two"><span>●</span><span>●</span><span>●</span></div>
			  			</div>	
					<p>{{risktype2copy}}</p>
				</div>

				<div class="riskType">
					<h3>{{risktype3}}</h3>
					<span class="gv-high-num gv-ratings-three">25%</span>
						<div class="gv-ratings-css">
							<div class="gv-ratings-css-top gv-ratings-three" style="width: 25%"><span>●</span><span>●</span><span>●</span></div>
			  				<div class="gv-ratings-css-bottom gv-ratings-three"><span>●</span><span>●</span><span>●</span></div>
			  			</div>

					<p>{{risktype3copy}}</p>
				</div>

				<div class="riskType">
					<h3>{{risktype4}}</h3>
					<span class="gv-high-num gv-ratings-four">75%</span>
						<div class="gv-ratings-css">
							<div class="gv-ratings-css-top gv-ratings-four" style="width: 75%"><span>●</span><span>●</span><span>●</span></div>
			  				<div class="gv-ratings-css-bottom gv-ratings-four"><span>●</span><span>●</span><span>●</span></div>
			  			</div>
					<p>{{risktype4copy}}</p>
				</div>

				<div class="riskType">
					<h3>{{risktype5}}</h3>
					<span class="gv-high-num gv-ratings-five">8%</span>
						<div class="gv-ratings-css">
							<div class="gv-ratings-css-top gv-ratings-five" style="width: 8%"><span>●</span><span>●</span><span>●</span></div>
			  				<div class="gv-ratings-css-bottom gv-ratings-five"><span>●</span><span>●</span><span>●</span></div>
			  			</div>
					<!-- <div class="gv-ratings-sprite"><span style="width:2%" class="gv-ratings-sprite-rating"></span></div> -->
					<p>{{risktype5copy}}</p>
				</div>

			</div>

		</div>

	</div>

</div>



<div class='gv-slice second-strip'>

	<div class='gv-inner'>

		<div class="gv-section-title">
			<h2>{{section3Header}}</h2>
		</div>


		<div class="gv-inner-content">
				<p>{{{section3Copy}}}</p>
				<div class='continentSummary'></div>
			</div>

	</div>

</div>
