$grad1: $news-support-7;
$grad2: $news-support-6;
$headerAniTime : 90s;
$aniEaseMode: linear;

$background-grad:linear-gradient(180deg, $grad1, $grad2);

.header-background {
            background:linear-gradient(180deg, $grad1, $grad2);  
            background-size: 200% 200%;
            -webkit-animation: headerAni $headerAniTime $aniEaseMode infinite;
            -moz-animation: headerAni $headerAniTime $aniEaseMode infinite;
            -o-animation: headerAni $headerAniTime $aniEaseMode infinite;
            animation: headerAni $headerAniTime $aniEaseMode infinite;
            min-height: 100% !important;
            min-width:100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
        }

        @-webkit-keyframes headerAni {
            0%{background-position:0% 0% }
            50%{background-position:100% 0% }
            100%{background-position:0% 0%}
        }
        @-moz-keyframes headerAni {
             0%{background-position:0% 0% }
            50%{background-position:100% 0% }
            100%{background-position:0% 0%}
        }
        @-o-keyframes headerAni {
             0%{background-position:0% 0% }
            50%{background-position:100% 0% }
            100%{background-position:0% 0%}
        }
        @keyframes headerAni {
            0%{background-position:0% 0% }
            50%{background-position:100% 0% }
            100%{background-position:0% 0%}

        }

 


.gv-header-list{
    display: flex;
    position:relative;
    z-index:100;
    list-style-type: none;
    width:100%;
    max-width:1300px;
    height:240px;
    margin:0; 

    @media(min-width:740px){
            
            height:480px;
        }
}

.gv-header-list-text{
    display: none;
    @include fs-header(3);
    color:$accent-main;
    // padding: 0 0 0 $gs-gutter;
    padding:$gs-baseline $gs-gutter;
    //border-right: 1px solid $neutral-3;

    @media(min-width:480px){
            display: block;
        }
}

.gv-header-list-text-selected{
    //color:$multimedia-main-2;
}

.gv-inner-header{
    padding:0 !important;
}

.gv-header-list li{
    display:inline-block;
    width: 20%;
    height:100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;       
}

.gv-header-list li:first-child{
    background: url('<%= path %>/assets/city-pics/tehran.jpg'), $background-grad;
    background-position: center top;
}


.gv-header-list  li:nth-child(2){
    background: url('<%= path %>/assets/city-pics/london.jpg'), $background-grad;
    background-position: center top;

}

.gv-header-list  li:nth-child(3){
    background: url('<%= path %>/assets/city-pics/beijing.jpg'), $background-grad;
    background-position: center top;

}

.gv-header-list  li:nth-child(4){
    background: url('<%= path %>/assets/city-pics/mexico-city.jpg'), $background-grad;
    background-position: center top;

}

.gv-header-list li:last-child{
    background: url('<%= path %>/assets/city-pics/new-delhi.jpg'), $background-grad;
    background-position: center top;
}






.gv-header-list li:first-child, .gv-header-list li:last-child  { 


        @media(min-width:980px){
            //width: gs-span(4)+$gs-gutter;//26%; 
            height:100%;
        }

}



