
//locator box
.locate {
    @include fs-header(3);
    color: #767676;
    line-height: 38px;
    padding-bottom: 3px;
    margin-bottom: gs-height(1);
}

.see-all {
    @include fs-textSans(2);
    display: inline-block;
    border-radius: 100px;
    color: white;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #005689;
    padding: 0 5px 0 14px;
    margin: 10px 0 0;
    &:hover {
        background-color: #003656;
    }

    & > svg {
        display: inline-block;
        vertical-align: middle;
    }
}

.placeholder {
    display: block;
    width: 100%;
    margin-top: 10px;
}