.gv-locate-btn {
  background-color: #005689;
  color: #fff;
  @include fs-textSans(1);
  line-height: 19px;
  font-weight: bold;
  border-radius: 100px;
  border: 0;
  outline: 0;
  margin-right: 6px;
  line-height: 35px;
  vertical-align: middle;
  position: relative;
  padding: 0 40px 0 10px;
  display: inline-block;
  cursor: pointer;

  &[data-is-loading] {
    animation-name: loadinganim;
    animation-duration: 1s;
    animation-iteration-count: infinite;

  }

  svg {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 0px;
    top: 1px;
  }

}

@keyframes loadinganim {
    0% {background-color: #005689;}
    50% {background-color: #eaeaea;}
    100% {background-color: #005689;}
}
