.gv-locate-btn {
  background: #005689;
  color: #fff;
  @include fs-textSans(1);
  line-height: 19px;
  font-weight: bold;
  border-radius: 100px;
  border: 0;
  outline: 0;
  margin-right: 6px;
  line-height: 35px;
  vertical-align: middle;
  position: relative;
  padding: 0 40px 0 10px;
  display: inline-block;
  cursor: pointer;

  svg {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 0px;
    top: 1px;
  }

}
