h3, h5{
	@include fs-header(2);
}

#headerSlice{
	padding: gs-height(1) 0 $gs-baseline;
}

.first-strip, .social-strip, .second-strip, .third-strip {
	margin: 0 0 gs-height(1) 0;
	background-color: $news-support-7;
	color:$neutral-6;
	border:none;

	h1 {
		@include fs-headline(9);

	}

}

.second-strip, third-strip {
	margin: 0 0 $gs-gutter 0;
	background-color: white;
	padding:gs-height(1) 0 $gs-gutter 0;
	color:$neutral-1;
}

.third-strip {
	background-color: $news-support-7;
}

.standfirst-button{
	background: $neutral-1;
	padding: 3px 12px;
	border-radius: 2000px;
	color: $neutral-4;
	@include fs-textSans(3);
	cursor: pointer;
}

.standfirst-button-selected{
	background: $news-main-2;
	color: $neutral-6;
}

.gv-standfirst{
	max-width:560px;
}

.gv-standfirst-holder{
	position:relative;
	z-index:200;
	margin: 0 -20px;
	padding:$gs-baseline 0 20px 20px;
	background-color:rgba($neutral-1 ,0.9);
	color:$neutral-dark;
	max-width:760px;

	@media(min-width:740px){
		padding:$gs-baseline 0 20px 20px;

	}

	@media(min-width:980px){
		margin: 0 0 0 -20px;
		margin: -160px 0 0 -20px;


	}

	h1{
		@include fs-headline(9);


	}

	h5{

	    // margin-bottom:$gs-baseline !important;
	  }

	p, h1, h5, span{
		color:$neutral-light;
	}

	.gv-standfirst-ui-text{
		margin-bottom:$gs-baseline !important;
		//@include fs-textSans(4);
	}

}

.first-strip{
	min-height: gs-height(5);
}
