h3, h5{
	@include fs-header(2);
}

#headerSlice{
	padding: gs-height(1) 0 $gs-baseline;
}

.first-strip, .social-strip, .second-strip, .third-strip {
	margin: 0 0 gs-height(1) 0;
	background-color: $news-support-7;
	color:$neutral-6;
	border:none;

	h1 {
		@include fs-headline(9);

	}

}

.second-strip, third-strip {
	margin: 0 0 $gs-gutter 0;
	background-color: white;
	padding:gs-height(1) 0 $gs-gutter 0;
	color:$neutral-1;
}

.third-strip {
	background-color: $news-support-7;
}

.head-support-strip{
	background-color: $neutral-dark;
	z-index:10000000;
}

.gv-standfirst{
	max-width:560px;
}

.gv-standfirst-holder, .gv-locate-form-holder{
	position:relative;
	z-index:200;
	margin: 0 -20px;
	padding:$gs-baseline 0 20px 20px;
	background-color:rgba($neutral-1 ,0.9);
	color:$neutral-dark;
	max-width:800px;

	@media(min-width:740px){
		padding:$gs-baseline 0 20px 20px;

	}

	@media(min-width:980px){
		border-bottom: 1px dotted $neutral-2;
		padding:$gs-baseline 0 0 20px;

		margin: -282px 0 0 -20px;


	}

	h1{
		
		@include fs-headline(5);


		@media(min-width:740px){
			max-width: 680px;
			@include fs-headline(8);
			margin-bottom:$gs-baseline;
		}


	}

	h5{

	    // margin-bottom:$gs-baseline !important;
	  }

	p, h1, h2, h5, span{
		width:95%;
		color:$neutral-light;
		@media(min-width:740px){
			max-width: 720px;
		}

		
	}

	.gv-standfirst-ui-text{
		margin-bottom:$gs-baseline !important;
		//@include fs-textSans(4);
	}

	.standfirst-button{
		background: $neutral-2;
		padding: 3px 12px;
		border-radius: 2000px;
		color: $neutral-6;
		@include fs-textSans(3);
		cursor: pointer;
	}
	.standfirst-button:hover{
		background: $accent-hover;
	}

}

.first-strip{
	min-height: gs-height(5);
}


.gv-locate-form-holder{
	//background: $standy-grad;
	
	@media(min-width:980px){
		margin: 0 0 $gs-baseline -20px;
		padding: $gs-baseline $gs-gutter $gs-baseline+$gs-baseline; 
	}

	.locate{
		padding-top: $gs-baseline;
	}
}
