.gv-keys{
	display:block;
	list-style-type: none;
	max-width:780px;
	margin:$gs-baseline 0 gs-height(1) 0;

	@media(min-width:980px){
		display:flex;
		margin:$gs-baseline 0;
	}


	li{
		display:block;
		width:gs-span(4);
		// border-right: 1px solid $neutral-5;
		margin-bottom: $gs-baseline;
		border-bottom:  none;

		@media(min-width:1140px){
			display:block;
			width:auto;

			border-right: none;
			margin-bottom: $gs-baseline;
			margin-right: $gs-gutter;
			// border-bottom: 1px solid $neutral-5;
		}
	}
}





.gv-graph-header{
	width:100%;
	margin-bottom: $gs-baseline;
}


.gv-key-text{
	margin: 0 0 0 12px;
	@include fs-textSans(2);
	fill: #333333;
	color: #333333;

}

.gv-key-item{
	position:relative;
	display:inline-block;
	margin: 0;
}


.gv-key-color{
		position:relative;
		float:left;
		margin: 1px 0 $gs-baseline 0;
		width: 7px;
		height: 11px;
		margin-right: 4px;
		border-radius: 2px;
}



.color-one{
	background-color: $graph-1;
}

.color-two{
	background-color: $graph-2;
}
.color-three{
	background-color:  $graph-3;
}

.color-four{
	background-color:  $graph-4;
}

.color-five{
	background-color:  $graph-5;
}
