.gv-graph-header{
	width:100%;
	margin-bottom: $gs-baseline;
}

.color-one{
	background-color: $graph-1;
}

.color-two{
	background-color: $graph-2;
}
.color-three{
	background-color:  $graph-3;
}

.color-four{
	background-color:  $graph-4;
}

.color-five{
	background-color:  $graph-5;
}


.riskSummaryChart {
	max-width: 760px;
	min-height: 300px;
	overflow: hidden;


	.riskLine {
		fill: none;
		stroke-width: 2px;

		&.r {
			stroke: $graph-1;
		}

		&.p {
			stroke: $graph-2;
		}

		&.h {
			stroke: $graph-3;
		}

		&.l {
			stroke: $graph-4;
		}

		&.s {
			stroke: $graph-5;
		}

		&.dataVisible {
			stroke-opacity: .25;
		}
	}

	.firstTick{
		stroke-dasharray: none;
		stroke-width: 1px;

	}

	.tick{
		stroke-width:1px;
		@include fs-textSans(1);
		fill: $axis-neutral;
		// stroke: $axis-neutral !important;
		shape-rendering: crispEdges;
		// stroke-dasharray: 1, 5;
	}

	.tick text{
		fill: $axis-neutral;

		stroke:none;
	}

	.axes path, .axes line {
		    fill: none;
		    stroke: $axis-neutral;
		    shape-rendering: crispEdges;
	}

	.riskYaxis{
		fill: none;
		    stroke: $axis-neutral;
		    shape-rendering: crispEdges;
	}

	.riskYaxis line , .riskXaxis line{
		fill: none;
		    stroke: $axis-neutral;
		    shape-rendering: crispEdges;
	}

	.riskYaxis path{
		stroke:none;
	}

	.riskXaxis path{
		stroke: $axis-neutral;
		    shape-rendering: crispEdges;
	}


	.riskCircle {
		display: none;

		&.riskCirclesActive {
			display: block;
		}
	}


	.riskCircle-r {
		fill: $graph-1;
	}

	.riskCircle-p {
		fill: $graph-2;
	}

	.riskCircle-h {
		fill: $graph-3;
	}

	.riskCircle-l {
		fill: $graph-4;
	}

	.riskCircle-s {
		fill: $graph-5;
	}

}

.riskByTypesCharts {
	width: 100%;
	overflow: hidden;

	.riskLineByType {
		fill:none;
		stroke-width: 2px;


		&.r {
			stroke: #a9d700;
		}

		&.p {
			stroke: #4cc5dc;
		}

		&.h {
			stroke: #005688;
		}

		&.l {
			stroke: #f36f21;
		}

		&.s {
			stroke: #fdb813;
		}

	}

}



.gv-source{
	@include fs-textSans(1);
	color: $neutral-3;
}

