// @import "lesshat";
// Method 1) Pure CSS

.gv-ratings-css {
  unicode-bidi: bidi-override;
  font-size: 40px;
  height: 36px;
  width: 130px;
  margin:0-$gs-baseline 0 $gs-baseline 0;
  position: relative;
  padding: 0;

  //text-shadow: 0 0 2px $graph-1;

  &-top {
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;

    span {
      display: none;
    }

    &[data-total='1']{
      span:nth-of-type(1) {
        display: inline-block;
      }
    }

    &[data-total='2']{
      span:nth-of-type(1),span:nth-of-type(2) {
        display: inline-block;
      }
    }

    &[data-total='3']{
      span:nth-of-type(1),span:nth-of-type(2),span:nth-of-type(3) {
        display: inline-block;
      }
    }

    &[data-total='4']{
      span:nth-of-type(1),span:nth-of-type(2),span:nth-of-type(3),span:nth-of-type(4) {
        display: inline-block;
      }
    }
  }
  &-bottom {
    padding: 0;
    display: block;
    opacity: 0.3;
    z-index: 0;
  }


}

.gv-ratings-one{
  color: $graph-1;
}
.gv-ratings-two{
  color: $graph-2;
}
.gv-ratings-three{
  color: $graph-3;
}
.gv-ratings-four{
  color: $graph-4;
}
.gv-ratings-five{
  color: $graph-5;
}

// Method 2) Using a Sprite
.gv-ratings-sprite {
  background: url("<%= path %>/assets/rating-sprite.png") repeat-x;
  font-size: 0;
  height: 24px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: $gs-baseline 0;

  &-rating {
    background: url("<%= path %>/assets/rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;

    display:block;
  }

}


.gv-high-num{
  width: 120px;
  @include fs-headline(8);
  font-size:3.5em;
  font-weight:200;
  text-align: left;
}



.riskTypeContainer {
  width: 30%;
  display: inline-block;
  vertical-align: bottom;
}

.riskTypesContainer {
  max-width: 800px;
}

.riskType {
  display: block;
    vertical-align: top;
    width: 100%;
    margin: 0 20px $gs-baseline 0;
    float:left;
  clear:right;
    border-right: none;
    border-bottom: 1px solid #DEDEDE;

  @media (min-width:740px){
    display: inline-block;
    width: gs-span(5);
    margin: 0 10px $gs-baseline+$gs-baseline 0;
    padding: 0 10px 0 0;
    float:none;
    clear:none;
    border-right: 1px dotted #DEDEDE;
    border-bottom: none;
  }

  h3 {
    @include fs-header(1);
    margin-bottom: $gs-baseline;
  }


}

.riskType:nth-of-type(even) {
     border-right: none;
}

.riskType:last-child {
     border-right: none; 
     border-bottom: none;
     @media (max-width:740px){
      margin: 0 20px gs-height(1) 0;
     }
}
