@import "mq";
@import "fonts";
@import "grid";
@import "custom-palette";

$darkBlue: #197CAA;
$lightBlue: #4BC6DF;
$pink: #DC2A7D;

$accent-main: $comment-support-3;
$accent-hover: $multimedia-main-2;
$neutral-dark: $news-support-7;
$neutral-medium: $news-support-6;
$neutral-medium-light: $neutral-4;
$neutral-light: $neutral-5;

$graph-1: $news-main-1;
$graph-2: $news-main-2;
$graph-3: $accent-main;
$graph-4: $neutral-medium;
$graph-5: $live-support-1;

$axis-neutral: $neutral-3;


@import "header-area";
@import "locator";
@import "madlib";

@import "page-custom";
@import "riskChart";
@import "riskChartKey";
@import "riskMeter";
@import "regionCharts";
@import "risk-list";
@import "led-light";

@import "share-container";
@import "awesomeplete";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
@import "fullscreen";


.gv-slice {
	width:100%;
	margin:0 auto;
	overflow: hidden;
}


.element-atom,.interactive-atom{
    margin:0 !important;
    background:#fff !important;
}
.element-atom,
.interactive-atom,
.interactive-embed {
    -webkit-font-smoothing:antialiased;
    *{
    	box-sizing:border-box;
    }

		h2 {
			@include fs-header(5);
		}
}

.interactive:before,.interactive:after{
	content:'';
	display:block;
	position: absolute;
	top:0;
	background:rgba(220,220,220,0.2);
	height:100%;
	width:0;
	@media(min-width:740px){
		width:calc((100% - 740px)/2);
	}
	@media(min-width:980px){
		width:calc((100% - 980px)/2);
	}
	@media(min-width:1140px){
		width:calc((100% - 1140px)/2);
	}
	@media(min-width:1300px){
		width:calc((100% - 1300px)/2);
	}
}
.interactive:before{
	left:0;
}
.interactive:after{
	right:0;
}

.gv-inner{
	max-width:620px;
	margin:0 auto;
	padding:0 10px;

	@media(min-width:480px){
		padding:0 20px;
	}
	@media(min-width:740px){
		max-width:740px;
	}
	@media(min-width:980px){
		max-width:980px;
	}
	@media(min-width:1140px){
		max-width:1140px;
	}
	@media(min-width:1300px){
		max-width:1300px;
	}
}

.gv-inner-content {



  p, h2, h3 {
    max-width: 620px;
  }
}

.gv-inner-content{
	width:100%;
@media(min-width:1140px){
			margin-left:160px;
	}
@media(min-width:1300px){
		margin-left:240px;
}
}



.gv-header {
	background-color: $lightBlue;
	color: #fff;
	padding-top:12px;
	padding-bottom:12px;

	.inner-header{
		max-width:700px;
	}

	img{
		width:100%;
	}

  .gv-header-standfirst{
      margin-top:18px;
      margin-bottom:30px;

  }

	h2{
		font-size:21px;
		font-weight:100;
		line-height:24px;
		display:inline;
        a{
            color:#fff;
            border-bottom: 1px solid rgba(255,255,255,0.4);
            text-decoration: none;
            &:hover{
                border-color:#fff;
            }
        }
	}

    @media(min-width:480px){
        .gv-header-standfirst{
            h2{
                font-size:24px;
                line-height:27px;
            }
        }
    }
    @media(min-width:740px){
 		.gv-header-standfirst{
 			position: relative;
            margin-bottom:36px;
 			h2{
 				margin-right:120px;
 				font-size:30px;
 				line-height:33px;
                display:inline-block;
 			}
 		}

 		.gv-share-container{
 			width:120px;
 			position: absolute;
 			right:0;
 			top:0;
 			margin-top:2px;
            text-align:right;
            button{
                width:30px;
                height:30px;
                background-size:28px;
            }
 		}
    }
    @media(min-width:980px){
        .gv-header-standfirst{
            margin-bottom:54px;
            margin-top:30px;
        }
    }
}

.gv-section-title {
	width:100%;
	float:none;
	@media(min-width:1140px){
		max-width: 160px;
		float: left;
	}
	@media(min-width:1300px){
		max-width: 220px;
		float: left;
	}
}
