$darkBlue: #197CAA;
$lightBlue: #4BC6DF;
$pink: #DC2A7D;


@import "mq";
@import "fonts";
@import "grid";
@import "custom-palette";

@import "header-area";
@import "locator";
@import "madlib";

@import "page-custom";
@import "riskChart";
@import "risk-list";
@import "led-light";

@import "share-container";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
@import "fullscreen";


.gv-slice {
	width:100%;

	margin:0 auto;

}


.element-atom,.interactive-atom{
    margin:0 !important;
    background:#fff !important;
}
.element-atom,
.interactive-atom,
.interactive-embed {
    -webkit-font-smoothing:antialiased;
    *{
    	box-sizing:border-box;
    }
}

.interactive:before,.interactive:after{
	content:'';
	display:block;
	position: absolute;
	top:0;
	background:rgba(220,220,220,0.2);
	height:100%;
	width:0;
	@media(min-width:740px){
		width:calc((100% - 740px)/2);
	}
	@media(min-width:980px){
		width:calc((100% - 980px)/2);
	}
	@media(min-width:1140px){
		width:calc((100% - 1140px)/2);
	}
	@media(min-width:1300px){
		width:calc((100% - 1300px)/2);
	}
}
.interactive:before{
	left:0;
}
.interactive:after{
	right:0;
}

.gv-inner{
	max-width:620px;
	margin:0 auto;
	padding:0 10px;

	@media(min-width:480px){
		padding:0 20px;
	}
	@media(min-width:740px){
		max-width:740px;
	}
	@media(min-width:980px){
		max-width:980px;
	}
	@media(min-width:1140px){
		max-width:1140px;
	}
	@media(min-width:1300px){
		max-width:1300px;
	}
}

.gv-inner-content {
  p, h2, h3 {
    max-width: 620px;
  }
}

@media(min-width:1140px){
	.gv-inner-content{
		margin-left:160px;
	}
}

@media(min-width:1300px){
	.gv-inner-content{
		margin-left:240px;
	}
}

.gv-header {
	background-color: $lightBlue;
	color: #fff;
	padding-top:12px;
	padding-bottom:12px;

	.inner-header{
		max-width:700px;
	}

	img{
		width:100%;
	}

  .gv-header-standfirst{
      margin-top:18px;
      margin-bottom:30px;
  }
  
	h2{
		font-size:21px;
		font-weight:100;
		line-height:24px;
		display:inline;
        a{
            color:#fff;
            border-bottom: 1px solid rgba(255,255,255,0.4);
            text-decoration: none;
            &:hover{
                border-color:#fff;
            }
        }
	}

    @media(min-width:480px){
        .gv-header-standfirst{
            h2{
                font-size:24px;
                line-height:27px;
            }
        }
    }
    @media(min-width:740px){
 		.gv-header-standfirst{
 			position: relative;
            margin-bottom:36px;
 			h2{
 				margin-right:120px;
 				font-size:30px;
 				line-height:33px;
                display:inline-block;
 			}
 		}

 		.gv-share-container{
 			width:120px;
 			position: absolute;
 			right:0;
 			top:0;
 			margin-top:2px;
            text-align:right;
            button{
                width:30px;
                height:30px;
                background-size:28px;
            }
 		}
    }
    @media(min-width:980px){
        .gv-header-standfirst{
            margin-bottom:54px;
            margin-top:30px;
        }
    }
}

.gv-notifications{
    background:#6FD1E5;
    .gv-desktop-notification{
       display:block;
       margin-right:0;
       margin-bottom:2px;
       line-height: 0;
    }
 	.gv-notification-signup{
        margin-top:6px;
        margin-bottom:12px;
       display:inline-block;
       max-width:700px;
       width:100%;
 		p{
 			font-family:$f-serif-headline;
 			color:$darkBlue;
 			line-height:1em;
 			font-weight:bold;
            font-size:16px;
            margin-bottom:2px;
            margin-top:0;
 			select{
 				background-image:url('<%= path %>/assets/arrow_blue.svg');
 				background-color:#fff;
 				color:$darkBlue;
 				height:21px;
                //  max-width:120px;
                max-width:90px;
                min-width:0;
 			}
 		}
 		.notification-label{
 			font-weight:normal;
 			display: inline-block;
 			margin-top:6px;
 			vertical-align: top;
 			margin-left:5px;
 			font-size:14px;
            width:calc(100% - 50px);
            font-family:$f-sans-serif-text;
 		}
 		.gv-notification-toggle{
 			height:24px;
 			width:36px;
 			position: relative;
 			padding-top:1px;
 			display: inline-block;
 			opacity:0.4;
 			&:before{
 				width:100%;
 				height:6px;
 				background:rgba(255,255,255,0.2);
 				content:'';
 				display: block;
 				border-radius:10px;
 				margin-top:9px;
 			}
 			&:after{
 				height:24px;
 				width:24px;
 				background:#fff;
 				content:'';
 				display:block;
 				position: absolute;
 				top:0;
 				left:0;
 				border-radius:20px;
 				box-shadow: 0 0 4px rgba(0,0,0,0.2);
 				transition:left 200ms;
 			}
 			&.notification-enabled{
 				opacity:1;
 				cursor:pointer;
 			}
 			&.notification-activated{
 				&:after{
 					left:calc(100% - 24px);
 				}
 			}
 		}
       .gv-chatbot-notification{
          display:block;
          a{
              text-decoration: none;
          }
          a:hover{
             text-decoration: none;
             p{
                text-decoration: underline;
             }
          }
          .gv-chatbot-logo{
             width:36px;
             height:24px;
             display:inline-block;
             background-image:url('<%= path %>/assets/chatbot_logo.png');
             background-repeat:no-repeat;
             background-size:auto 100%;
          }
       }
 	}
 	@media(min-width:740px){
        .gv-notification-signup{
            margin-bottom:18px;
        }
        .gv-desktop-notification{
            display:inline-block;
            margin-right:20px;
        }

 		.gv-notification-signup{
 			p{
 				font-size:21px;
 				margin-bottom:4px;
 				select{
 					height:24px;
 					font-size:16px;
 				}
 			}
            .gv-chatbot-notification{
                display:inline-block;
            }
 			.notification-label{
 				font-size:16px;
 				margin-top:6px;
                margin-left:0;
                width:auto;
 			}
 			.gv-notification-toggle{
 				height:24px;
 				width:48px;
 				&:before{
 					height:6px;
 					margin-top:8px;
 				}
 				&:after{
 					height:24px;
 					width:24px;
 					background:#fff;
 				}
 				&.notification-activated{
 					&:after{
 						left:calc(100% - 24px);
 					}
 				}
 			}
          .gv-chatbot-notification{
             .gv-chatbot-logo{
                width:40px;
                height:24px;
             }
          }
 		}
 	}

    @media(min-width:980px){
        .gv-notification-signup{
            margin-bottom:24px;
            p{
                font-size:24px;
            }
        }
    }
}


















// Recent transfers
.gv-transfers-rumours{
	margin-top:30px;
	min-height:320px;

    .gv-section-title p{
        margin-top:6px;
    }

    #gv-transfer-sort{
        min-width:100px;
        max-height:24px;
    }

	.gv-inner-content{
		&:after{
			clear:both;
			content:'';
			display:block;
		}
	}
	.row-hidden{
		display:none;
	}
	.gv-show-rows{
		.row-hidden{
			display: block;
		}
		button{
			display:none;
		}
	}
	.not-limited{
		button{
			display:none;
		}
	}
	.gv-transfers-inner{
		max-width:700px;
		width:100%;
	}
	@media(min-width:980px){
		.gv-transfers-inner{
			float:left;
		}
		margin-top:60px;
	}
   .gv-btn-moretransfers{
      // background-color:#333;
      background-image:url("<%= path %>/assets/plus.svg");
      background-size:18px;
      background-repeat:no-repeat;
      background-position:10px center;
      padding-left:38px;
      // font-weight:bold;
      // font-size:16px;
   }
}

.gv-section-title{
	p{
		font-size:14px;
		font-family:$f-sans-serif-text;
		color:#767676;
		line-height:1em;
		margin-bottom:12px;
	}

	@media(min-width:1140px){
		position: absolute;
		width:140px;
	}
	@media(min-width:1300px){
		width:220px;
	}
}
.gv-transfers-table{
	max-height:780px;
	transition: max-height 200ms;
	overflow:hidden;
	position: relative;
	margin-bottom:12px;
	margin-top:-6px;
	&:after{
		position: absolute;
		bottom:0;
		height:40px;
		background:linear-gradient(to bottom,rgba(255,255,255,0),white);
		content: '';
		display: block;
		width:100%;
      border-bottom:1px solid #EBEBEB
	}
}
.gv-show-rows, .not-limited{
	.gv-transfers-table:after{
		display:none;
	}
}
.gv-transfer-row{
	position: relative;
	margin-bottom:12px;

    &.is-sorted:first-child{
        margin-top:9px;
    }

    &:before{
        width:140px;
        height:1px;
        background:#e8e8e8;
        display:block;
        content:'';
        margin-bottom:3px;
    }
    .gv-transfer-logo-container{
        height:18px;
        width:18px;
        position: absolute;
        left:0;
        top:6px;
    }
    .gv-transfer-team-logo{
        width:16px;
        height:16px;
        border-radius:10px;
        border-radius:99999px;
        background-size:auto 100%;
        background-repeat:no-repeat;
        background-position: center;
        position: relative;
        z-index:1;
        &:nth-child(2){
            position: absolute;
            top:0;
            left:6px;
            z-index:0;
            opacity:0.9;
        }
    }

	.gv-transfer-name{
		line-height:1em;
		margin-bottom:0;
		font-family:$f-serif-headline;
		font-weight:bold;
		width:calc(100% - 110px);
        margin-left:24px;
        margin-top:0;
	}

    .gv-is-registered{
        position: relative;
        display:inline-block;
        transition: 100ms color;
        text-decoration: none;
        text-decoration: none;
        color:inherit;
        span{
            border-bottom:1px dotted;
            cursor:pointer;
        }
        &:after{
            display: inline-block;
            line-height:1em;
            content:'';
            background-image:url('<%= path %>/assets/arr_blue.svg');
            background-size:100%;
            background-repeat:no-repeat;
            width:12px;
            height:12px;
            transform:rotate(90deg) translateX(-4px);
            opacity:0;
            transition:200ms opacity,200ms transform;
            margin-left:2px;
        }
        &:hover{
            color:$darkBlue;
            &:after{
                opacity:1;
                transform:rotate(90deg) translateX(0);
            }
        }

    }
    .fees_agreed{
        font-size:12px;
        font-weight:normal;
        font-family:$f-sans-serif-text;
        color:#aaa;
        display:block;
        line-height:1em;
        margin-bottom:0.5em;
        margin-top:3px;
    }
	.gv-transfer-clubs{
		font-size:14px;
		color:#aaa;
		margin-bottom:0;
		display:block;
		line-height:1em;
		font-family:$f-serif-headline;
		font-weight:bold;
        margin-left:24px;
        margin-top:3px;

        a.gv-is-registered{
            color:#aaa;
        }
	}
	.gv-transfer-fee{
		color:#333;
		font-family:$f-serif-headline;
		font-size:16px;
		font-weight:bold;
		position: absolute;
		top:4px;
		right:0;
		margin-top:0;
		line-height:1em;
        width:auto;
        text-align:right;
        .article-link{
            color: $darkBlue;
            font-size: 12px;
            padding: 0;
            border-radius: 12px;
            display: block;
            line-height: 1em;
            vertical-align: top;
            font-family: "Guardian Text Sans Web";
            text-decoration: none;
            &:hover{
                // background-color:#005689;
                text-decoration: underline;
            }
            &:before{
                display: inline-block;
                line-height: 1em;
                content: '';
                background-image: url("<%= path %>/assets/arr_blue.svg");
                background-size: 100%;
                background-repeat: no-repeat;
                width: 10px;
                height: 12px;
                margin-right: 4px;
                vertical-align: top;
                margin-top: 1px;
            }
        }
	}
	&.gv-is-biggie{
		.gv-transfer-name{
			color:$pink;
			// font-size:18px;
		}
		.gv-transfer-fee{
			// font-size:18px;
         color:$pink;
			font-weight:500;
		}
	}

	@media(min-width:480px){
		.gv-transfer-name{
			font-size:18px;
		}
		.gv-transfer-clubs{
			margin-top:2px;
		}
		.gv-transfer-fee{
			font-size:18px;
		}

		&.gv-is-biggie{
			.gv-transfer-name{
				// font-size:21px;
			}
			.gv-transfer-fee{
				// font-size:21px;
			}
		}
	}

	@media(min-width:740px){
		margin-bottom:16px;
        .gv-transfer-logo-container{
            height:30px;
            width:30px;
        }
        .gv-transfer-team-logo{
            width:24px;
            height:24px;
            &:nth-child(2){
                left:10px;
            }
        }
		.gv-transfer-name{
			font-size:21px;
            margin-left:40px;
		}
        .gv-transfer-clubs{
            margin-left:40px;
        }
		.gv-transfer-fee{
            font-size:21px;
		}
	}

    @media(min-width:980px){
        .gv-transfer-name{
            width:calc(100% - 180px);
        }
        .gv-transfer-fee{
            .article-link{
                font-size:14px;
            }
        }
    }

}
.day-divider{
	font-size:12px;
	color:#aaa;
    border-radius:50px;
	font-family:$f-sans-serif-text;
	margin:12px 0 3px;
    display:inline-block;
    text-transform:uppercase;
    line-height:1em;
}
.gv-transfer-category-0{
   .gv-transfer-name,.gv-transfer-fee{
      font-size:14px;
   }
}
.gv-transfer-category-1{
   .gv-transfer-name,.gv-transfer-fee{
      font-size:16px;
   }
}
.gv-transfer-category-2{
   .gv-transfer-name,.gv-transfer-fee{
      font-size:18px;
   }
}
.gv-transfer-category-3{
   .gv-transfer-name,.gv-transfer-fee{
      font-size:21px;
   }
}
.gv-transfer-category-4{
   .gv-transfer-name,.gv-transfer-fee{
      font-size:21px;
   }
}
.gv-transfer-category-5{
   .gv-transfer-name,.gv-transfer-fee{
      font-size:24px;
   }
   .gv-transfer-clubs{
      font-size:18px;
   }
}
.gv-transfer-category-6{
   .gv-transfer-name,.gv-transfer-fee{
      font-size:24px;
   }
}

@media(min-width:480px){
   .gv-transfer-category-0{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:16px;
      }
   }
   .gv-transfer-category-1{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:16px;
      }
   }
   .gv-transfer-category-2{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:21px;
      }
   }
   .gv-transfer-category-3{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:24px;
      }
   }
   .gv-transfer-category-4{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:27px;
      }
   }
   .gv-transfer-category-5{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:30px;
      }
   }
   .gv-transfer-category-6{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:30px;
      }
   }
}

@media(min-width:740px){
   .gv-transfer-category-2{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:21px;
     }
     .gv-transfer-clubs{
         font-size:16px;
     }
   }

   .gv-transfer-category-3{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:24px;
      }
      .gv-transfer-clubs{
          font-size:16px;
      }
   }

   .gv-transfer-category-4{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:27px;
      }
      .gv-transfer-clubs{
          font-size:16px;
      }
   }

   .gv-transfer-category-5{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:30px;
      }
      .gv-transfer-clubs{
          font-size:16px;
      }
   }
   .gv-transfer-category-6{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:36px;
      }
      .gv-transfer-clubs{
          font-size:16px;
      }
   }
}

@media(min-width:980px){
   .gv-transfer-category-0{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:18px;
      }
   }
   .gv-transfer-category-1{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:21px;
      }
   }
   .gv-transfer-category-2{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:27px;
      }
      .gv-transfer-clubs{
          font-size:18px;
      }
   }
   .gv-transfer-category-3{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:30px;
      }
      .gv-transfer-clubs{
          font-size:18px;
      }
   }

   .gv-transfer-category-4{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:33px;
      }
      .gv-transfer-clubs{
          font-size:18px;
      }
   }

   .gv-transfer-category-5{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:36px;
      }
      .gv-transfer-clubs{
          font-size:18px;
      }
   }
   .gv-transfer-category-6{
      .gv-transfer-name,.gv-transfer-fee{
         font-size:39px;
      }
      .gv-transfer-clubs{
          font-size:18px;
      }
   }
}




// Rumours
.gv-rumours-inner{
	color:$pink;
	margin-top:30px;

	h2{
		line-height:1em;
        max-width:700px;
        &:before{
            width:140px;
            height:4px;
            background:$pink;
            margin-bottom:6px;
            content:'';
            display:block;
        }
        span{
            opacity:0.6;
            display: block;
        }
	}
    button{
        background:$pink;
        margin-top:30px;
        padding-left:38px;
        background-image:url("<%= path %>/assets/arr_white.svg");
        background-repeat:no-repeat;
        background-position: 10px center;
        &:hover{
            background-color:darken($pink,5%);
        }
    }

	@media(min-width:480px){
		h2{
			font-size:30px;
		}
		padding:12px;
		margin-left: -10px;
		margin-right: -10px;
	}
	@media(min-width:740px){
        h2{
			font-size:42px;
		}
		ul li{
			font-size:18px;
            width:calc(50% - 10px);
            min-height:90px;
            margin-bottom:24px;
		}
	}
	@media(min-width:980px){
        margin-bottom:60px;
        margin-top:60px;
        h2{
            font-size:48px;
        }
		ul li{
            width:calc(50% - 20px;);
            margin-right:20px;
            font-size:24px;
            padding:20px;
            min-height:140px;
		}
        .gv-rumour-likely{
            font-size:16px;
            span{
                font-size:14px
            }
        }
	}

}







// Teamd details
.gv-team-details{
	background:$lightBlue;
	padding-top:12px;
	margin-top:30px;
	padding-bottom:30px;
   .player-list-empty{
      color:#fff;
      font-family:$f-serif-headline;
      opacity:0.5;
   }
	#gv-team-selector{
		margin-bottom:24px;
		max-width:620px;
		h2{
			color:$darkBlue;
			margin:0;
			line-height:1em;
            display: inline;
			&.gv-team-selector-description{
				color:#fff;
				display: inline;
			}
		}
		select{
			display:inline-block;
			height:24px;
			color:$darkBlue;
			background-color:#fff;
			font-family:$f-serif-headline;
			font-weight:bold;
			font-size:16px;
			max-width:140px;
			vertical-align: top;
			background-image:url('<%= path %>/assets/arrow_blue.svg');
		}
	}
	.gv-team-details-container{
		max-width:700px;
	}
	.gv-team-stats{
		&:after{
			content:'';
			display:block;
			clear:both;
		}
	}
	.gv-stats-block{
		width:50%;
		float:left;
		margin-right:0;
	}

	.gv-stats-highlight{
		color:#fff;
		font-size:48px;
		height:48px;
	}
	.gv-stats-label{
		color:#fff;
	}
	.gv-team-transfers{
		margin-top:30px;
		&:after{
			clear:both;
			display:block;
			content:'';
		}
	}
	h3{
		color:$darkBlue;
		font-weight:bold;
		font-size:18px;
		margin-bottom:3px;
        margin-top:0;
	}
	.gv-team-transfers-out{
		margin-top:30px;
	}
	.gv-transfer-row{
        &:before{
            background:rgba(255,255,255,0.3);
            width:100%;
        }
		.gv-transfer-name{
			color:#fff;
            margin-left:0;
            width:calc(100% - 100px);
		}
		.gv-transfer-clubs{
			color:$darkBlue;
            margin-left:0;
		}
		.gv-transfer-fee{
			color:#fff;
		}
	}
	.gv-team-rumours{
		margin-top:30px;
		ul{
			margin-left:0;
		}
	}
    @media(min-width:740px){
        #gv-team-selector{
    		h2{
                font-size:30px;
            }
        }
    }
	@media(min-width:980px){
		#gv-team-selector{
			margin-bottom:48px;
			h2{
				font-size:36px;
			}
			select{
				height:36px;
				margin-top:0;
				font-size:18px;
				padding-left:12px;
			}
		}
		.gv-team-transfers-in,.gv-team-transfers-out{
			width:50%;
			float:left;
			margin-top:0;
			min-height:60px;
		}
		.gv-team-transfers-in{
			padding-right:10px;
		}
		.gv-team-transfers-out{
			padding-left:10px;
		}
		.gv-stats-block:last-child{
			padding-left:10px;
		}
		.gv-stats-highlight{
			font-size:90px;
			height:90px;
		}
		.gv-stats-label{
			font-size:18px;
		}
	}
}

@keyframes marqueeFirst{
	0%{
		transform: translateX(100%);
        -webkit-transform: translateX(100%);
	}
	50%{
		transform: translateX(0);
        -webkit-transform: translateX(0);
	}
	100%{
		transform:translateX(-100%);
        -webkit-transform:translateX(-100%);
	}
}
